* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'NunitoLegular';
  src: url(../assets/fonts/Nunitoregular.woff2);
}

@font-face {
  font-family: 'NunitoLight';
  src: url(../assets/fonts/Nunitolight.woff2);
}

@font-face {
  font-family: 'NunitoBold';
  src: url(../assets/fonts/Nunitobold.woff2);
}

body {
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  right: calc(50% - 127px);
  top: 27px;
}
.container {
  display: flex;
}
/* .main {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.block-img {
  width: 50%;
  background-color: #f8f8fa;
}

.img {
  padding-top: 254px;
  padding-left: 11px;
}

.block-form {
  max-width: 30%;
  background-color: #fff;
  margin: 194px 41px 191px auto;
}

.block-form form {
  display: flex;
  flex-direction: column;
}

.block-form h1 {
  margin-bottom: 7px;
  font-family: NunitoBold;
  font-size: 36px;
}

.block-form p {
  margin-bottom: 42px;
  font-family: NunitoLegular;
  font-size: 22px;
  color: #636363;
}

.block-form label {
  margin-bottom: 20px;
}

.block-form label #agreement {
  margin-top: 30px;
  margin-bottom: 40px;
}

.block-form form a {
  margin: 0 auto;
  padding-top: 44px;
  text-decoration: none;
  color: #636363;
  font-size: 16px;
  font-family: NunitoBold;
}

input {
  outline: none;
  border: 0;
  border-bottom: 1px solid #c6c6c4;
  font-family: NunitoLegular;
  font-size: 20px;
  color: #323232;
}

label {
  font-family: NunitoLegular;
  font-size: 16px;
  color: #c6c6c4;
  display: flex;
  flex-direction: column;
}

.agreement {
  font-family: NunitoBold;
  font-size: 16px;
  color: #636363;
  display: inline;
}

.btn {
  width: 210px;
  height: 70px;
  border-radius: 40px;
  border: 0;
  background-color: #dd3142;
  color: #ffffff;
  font-family: NunitoLegular;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  font-family: NunitoBold;
}

.popup {
  width: 400px;
  height: 180px;
  background-color: #f8f8fa;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid #dd3142;
  position: fixed;
  top: 20%;
  left: calc(50% - 200px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15),  0 1px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.popup h1 {
  font-family: NunitoBold;
  font-size: 24px;
  padding-top: 10px;
}

.popup .pop-btn {
  width: 190px;
  height: 50px;
  border-radius: 40px;
  border: 0;
  background-color: #dd3142;
  color: #ffffff;
  font-family: NunitoBold;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-top: 30px;
}
