* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "nunito";
  src: url(../assets/fonts/Nunitoregular.woff);
}

body {
  font-family: "nunito";
  position: relative;
  background-color: #edeef3;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #f7f7f7;
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e2e2e2;
}

.logo {
  padding: 25px 0;
  text-align: center;
  display: block;
}

.navigation ul {
  list-style: none;
  margin: 0 17px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navigation-item:hover {
  background-color: #467df2;
  color: #ffffff;
  border-radius: 5px;
}

.navigation-item a {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 12px 15px;
  border-radius: 5px;
}

.navigation-item a span {
  font-size: 14px;
  line-height: 19px;
  color: #858796;
  margin-left: 10px;
}

.active a {
  background-color: #467df2;
}
.active a span {
  color: #ffffff;
}

.feedback {
  margin: 0 17px 17px 17px;
  padding: 12px;
}

.feedback img {
  float: left;
  margin-right: 6px;
}

.feedback:hover {
  outline: 1px solid #467df2;
  border-radius: 5px;
}

.feedback p {
  font-size: 14px;
  line-height: 19px;
  color: #4f4e4f;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 41px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
}

nav .navigation-header {
  display: flex;
  gap: 60px;
}

.header nav {
  display: flex;
  align-items: center;
}

nav a svg {
  margin-left: 5px;
}

nav a {
  text-decoration: none;
  font-family: "Nunito";
  font-size: 14px;
  line-height: 19px;
  color: #858796;
  display: flex;
  align-items: center;
}

.drop-down {
  padding: 30px;
  padding-left: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 67px;
  left: 255px;
  display: none;
}

.dd-txt {
  margin-bottom: 15px;
}

nav a:hover path {
  fill: #3d63d2;
}

nav a:hover {
  color: #3d63d2;
}

.header .qw:hover .drop-down {
  display: block;
}

.navigstion2 {
  display: flex;
  gap: 40px;
  align-items: center;
}

.src {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 13px 20px;
}

.src img {
  margin-right: 10px;
}

.src input {
  outline: none;
  border: none;
  background-color: #f7f7f7;
  width: 371px;
  font-size: 14px;
  line-height: 19px;
  font-feature-settings: "case" on;
  color: #b3b3b3;
}

.src input::placeholder {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-feature-settings: "case" on;
  color: #b3b3b3;
}

.navigstion2 a {
  padding: 10px 18px;
  font-family: "Nunito";
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  background-color: #467df2;
  text-decoration: none;
  border-radius: 10px;
}

.navigstion2 a:hover {
  background-color: #2f54a3;
}

main {
  background-color: #edeef3;
  padding: 25px 76px 93px 40px;
}

main h1 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #4f4e4f;
  padding-bottom: 40px;
}

.cards {
  display: flex;
  gap: 33px;
  flex-wrap: wrap;
  padding-left: 35px;
}

.card {
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.card:hover {
  box-shadow: 0px 4px 20px rgba(102, 102, 102, 0.15);
}

.card h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #4f4e4f;
  padding: 20px 26px 8px 26px;
}

.card p {
  padding: 8px 201px 18px 26px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #4f4e4f;
}

.card .svg-card {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin: 0 26px;
  justify-content: space-between;
}

.svg-card svg {
  cursor: pointer;
}

.relative {
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding: 4px 10px;
}

.white-rel {
  background-color: #f7f7f780;
  color: #4f4e4f;
}

.red-rel {
  background-color: #ffbcbc80;
  color: #db0c0c;
}

.green-rel {
  background-color: #c6e0c380;
  color: #027900;
}

.rl-bd {
  position: absolute;
  top: 327px;
  right: -70px;
  transform: rotate(270deg);
  background-color: #467df2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.rl-bd:hover {
  background-color: #2f54a3;
}

.rl-bd svg {
  transform: rotate(90deg);
}

aside li:hover path {
  fill: #fff;
}
aside li:hover span {
  color: #fff;
}

.header svg:hover path {
  fill: #467df2;
  cursor: pointer;
}

.svg-card svg:hover path,
.svg-card svg:hover ellipse {
  fill: #467df2;
}
