* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'monster';
  src: url(../asseets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'monsterEB';
  src: url(../asseets/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: 'monster_reg';
  src: url(../asseets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'monsterMed';
  src: url(../asseets/fonts/Montserrat/Montserrat-Medium.ttf);
}

body {
  position: relative;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

section {
  overflow-x: hidden;
  position: relative;
  padding-bottom: 165px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 15px;
  position: relative;
}

.bg_header {
  position: absolute;
  top: 0;
  z-index: -1;
  left: calc(50% - 693px);
}

.header__menu__items {
  display: flex;
  gap: 40px;
  list-style: none;
}

.logo_2 {
  display: none;
}

.bg_header2 {
  display: none;
}

.header__burger {
  display: none;
}

.items {
  text-decoration: none;
  font-size: 16px;
  font-family: 'monster';
  color: rgb(13, 26, 7);
  font-weight: bold;
  line-height: 1.2;
}

.discription {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.discription__fruit__title {
  margin-top: 140px;
  font-size: 44px;
  font-family: 'monsterEB';
  color: rgb(13, 26, 7);
  font-weight: bold;
  line-height: 1.109;
  text-shadow: 0px 0px 11.96px rgba(194, 170, 52, 0.21);
  max-width: 565px;
}

.discription__fruit__txt {
  font-size: 20px;
  font-family: 'monster_reg';
  color: rgb(13, 26, 7);
  line-height: 1.25;
  text-shadow: 0px 0px 11.96px rgba(194, 170, 52, 0.21);
  max-width: 414px;
  padding-top: 51px;
  padding-bottom: 70px;
}

.btn {
  background-color: rgb(30, 51, 19);
  box-shadow: 0px 0px 18.69px 2.31px rgba(194, 170, 52, 0.21);
  border: 0;
  border-radius: 37px;
  width: 292px;
  height: 74px;
  font-size: 20px;
  font-family: 'monster';
  color: rgb(255, 255, 255);
  line-height: 1.2;
  cursor: pointer;
}

.aboutUs {
  display: flex;
  padding-top: 207px;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.img__position__left {
  position: absolute;
  left: 0;
  top: 810px;
}

.about__title {
  font-size: 40px;
  font-family: 'monsterEB';
  color: rgb(13, 26, 7);
  font-weight: bold;
  line-height: 1.2;
}

.about__discription {
  max-width: 471px;
}

.about__txt p {
  font-size: 14px;
  font-family: 'monster_reg';
  color: rgb(13, 26, 7);
  line-height: 1.357;
}
.about__txt p span {
  font-weight: bold;
}

.about__txt p:nth-child(even) {
  padding-top: 17px;
}

.about__txt p:nth-child(odd) {
  padding-top: 50px;
}

.product__day {
  padding-top: 180px;
}

.product__day__title {
  font-size: 40px;
  font-family: 'monsterEB';
  color: rgb(13, 26, 7);
  line-height: 1.2;
  text-align: center;
}

.product__day__product {
  padding-top: 60px;
  display: flex;
  align-items: center;
}

img__product__fruit img {
  width: 380;
}

.img_and_time_container {
  display: flex;
  align-items: center;
}

.vertical-swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vertical-swiper .swiper-wrapper {
  flex-direction: column;
}

.vertical-swiper .swiper-slide img {
  cursor: pointer;
  display: block;
}

.vertical-prev,
.vertical-next {
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 10;
}

.vertical-prev {
  transform: rotate(90deg);
  bottom: 0;
  left: 23px;
  position: absolute;
}

.vertical-next {
  transform: rotate(90deg);
  top: -60px;
  left: 23px;
  position: absolute;
}

.product__day__slider {
  width: 88px;
  height: 408px;
  position: relative;
}

.horizontal-slider {
  display: none;
  width: 235px;
  height: 100%;
  margin: 20px auto;
  position: relative;
}

.horizontal-swiper {
  width: 100%;
  height: 65px;
  overflow: hidden;
}

.horizontal-swiper .swiper-wrapper {
  display: flex;
  width: auto;
}

.horizontal-swiper .swiper-slide {
  width: 65px !important;
  height: 65px !important;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-swiper .swiper-slide img {
  width: 65px;
}

.h-prev,
.h-next {
  cursor: pointer;
  width: 15px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.h-prev {
  left: -25px;
  top: -32px;
}
.h-next {
  right: -25px;
  top: -32px;
}

.img__product__fruit {
  position: relative;
  padding-left: 83px;
}

.img__product__fruit .position {
  position: absolute;
      top: -30px;
  right: 0;
}

.time__sale {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: rgb(251, 249, 243);
  border-radius: 80px;
  padding: 35px 11px 30px 11px;
  width: 95px;
  height: 405px;
}

.sale__title {
  font-size: 13px;
  font-family: 'monsterMed';
  color: rgb(13, 26, 7);
  line-height: 1.231;
  text-align: center;
}

.circle {
  margin: 0;
  padding: 7px 14px 7px 14px;
  font-size: 12px;
  font-family: 'monster_reg';
  color: rgb(13, 26, 7);
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle__span {
  font-size: 24px;
  font-family: 'monster';
  color: rgb(13, 26, 7);
  font-weight: bold;
}

.discription__product__day {
  margin-left: 45px;
  max-width: 325px;
}

.title__product__day {
  font-size: 30px;
  font-family: 'monsterEB';
  color: rgb(13, 26, 7);
  font-weight: bold;
  line-height: 1.6;
  padding-bottom: 30px;
}

.txt__product__day {
  font-size: 16px;
  font-family: 'monster_reg';
  color: rgb(13, 26, 7);
  line-height: 1.313;
  width: 325px;
  padding-bottom: 45px;
}

.price__product__day {
  display: flex;
  justify-content: start;
  gap: 20px;
  padding-bottom: 40px;
  align-items: center;
}
.txt__price__product__day {
  font-size: 20px;
  font-family: 'monsterEB';
  color: rgb(13, 26, 7);
  font-weight: bold;
  line-height: 2.4;
}

.number__price__product__day {
  font-size: 20px;
  font-family: 'monster_reg';
  color: rgb(13, 26, 7);
  line-height: 2.4;
}

.number__old__price__product__day {
  font-size: 16px;
  font-family: 'monster_reg';
  color: rgb(117, 126, 112);
  line-height: 3;
}

.buy__product__day {
  display: flex;
  padding-top: 35px;
  gap: 10px;
  align-items: center;
}
.buy__product__day p {
  font-size: 14px;
  font-family: 'monster_reg';
  color: rgb(13, 26, 7);
  line-height: 1.2;
  margin: 0;
}

.why {
  padding-top: 180px;
}

.why__title {
  font-size: 30px;
  font-family: 'monsterEB';
  color: rgb(13, 26, 7);
  font-weight: bold;
  line-height: 1.6;
  padding-bottom: 30px;
  text-align: center;
}

.why__cards {
  display: flex;
  gap: 35px;
}

.why__card {
  display: flex;
  gap: 20px;
  align-items: center;
}

.why__card p {
  font-size: 14px;
  font-family: 'monster_reg';
  color: rgb(13, 26, 7);
  line-height: 1.357;
}

.fruit__oreder {
  padding-top: 180px;
  position: relative;
}

.palma__fruit_order {
  position: absolute;
  top: 2850px;
  right: 0;
}

.title__fruit__order {
  font-size: 40px;
  font-family: 'monsterEB';
  color: rgb(13, 26, 7);
  text-align: center;
}

.fruit__oreder__btns {
  display: flex;
  justify-content: space-between;
  border: 2px solid #1e3313;
  border-radius: 23.5px;
  max-width: 583px;
  margin: 39px auto 0 auto;
}

.fruit__oreder__btn {
  border: 0;
  background-color: transparent;
  font-size: 18px;
  font-family: 'monster_reg';
  color: rgb(13, 26, 7);
  padding: 8px 32px;
  text-align: center;
}

.fruit__oreder__btn:hover {
  background-color: rgb(30, 51, 19);
  border-radius: 21px;
  color: white;
}

.fruit__oreder__btns__adap {
  display: none;
  flex-wrap: wrap;
  max-width: 280px;
  text-align: center;
  margin: 0 auto;
  gap: 15px;
  padding-top: 49px;
}

.fruit__oreder__btn__adap {
  border: 2px solid rgb(13, 26, 7);
  border-radius: 23.5px;
  background-color: transparent;
  font-family: 'monster_reg';
  padding: 8px 30px;
}

.fruit__oreder__btn__adap:hover {
  background-color: rgb(30, 51, 19);
  color: white;
  font-weight: bold;
}

.fruit__oreder__cards {
  padding-top: 142px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  gap: 145px;
}

.fruit__oreder__card {
  max-width: 259px;
  text-align: center;
}

.fruit__oreder__card img {
  width: 77%;
  margin-bottom: 58px;
}

.fruit__oreder__card h3 {
  padding-bottom: 31px;
  font-size: 24px;
  font-family: 'monsterEB';
  color: rgb(13, 26, 7);
}

.fruit__oreder__card p {
  padding-bottom: 31px;
  font-size: 24px;
  font-family: 'monster_reg';
  color: rgb(13, 26, 7);
  line-height: 0.875;
}

.btn__order__fruit {
  width: 171px;
  height: 60px;
}

.fruit__oreder__card .pineapple {
  margin-bottom: 8px;
}

.order-points {
  padding-top: 269px;
}

.order-points__title {
  font-size: 40px;
  font-family: 'monsterEB';
  color: rgb(13, 26, 7);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.order__stage {
  display: none;
  flex-direction: column;
}

.order-points__img {
  padding-top: 64px;
  position: relative;
}

.order-points__txt {
  font-size: 14px;
  font-family: 'monster_reg';
  color: rgb(13, 26, 7);
  line-height: 1.357;
  text-align: center;
}

.pointer__one {
  width: 107px;
  position: absolute;
  top: 42%;
  left: 5%;
}

.pointer__two {
  width: 172px;
  position: absolute;
  bottom: -12%;
  left: 27%;
}
.pointer__three {
  width: 104px;
  position: absolute;
  top: 20%;
  left: 56%;
}
.pointer__four {
  width: 130px;
  position: absolute;
  top: 80%;
  left: 82%;
}

.reviews {
  padding-top: 182px;
  position: relative;
}

.reviews__title {
  font-size: 40px;
  font-family: 'monsterEB';
  color: rgb(13, 26, 7);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.reviews__slider {
  position: relative;
  max-width: 1018px;
  margin: 0 auto;
  padding-top: 59px;
}

.reviews__slider .swiper {
  overflow: hidden;
  width: 100%;
}

.reviews__card {
  width: 494px;
  height: 291px;
  background-image: url(../asseets/img/bgc_otz.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: content-box;
  flex-shrink: 0;
  margin: 0 auto;
}

.reviews__txt {
  margin-left: 70px;
  font-size: 16px;
  font-family: 'monster_reg';
  font-weight: normal;
  color: rgb(13, 26, 7);
  line-height: 1.313;
  padding-top: 25px;
  width: 375px;
}

.reviews__user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 70px;
  margin-top: 45px;
}

.reviews__user p {
  font-size: 20px;
  font-family: 'monster';
  color: rgb(13, 26, 7);
}

.slider_nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.prev {
  position: absolute;
  top: calc(50% - 145px);
  z-index: 2;
}
.next {
  position: absolute;
  right: 0;
  top: calc(50% - 145px);
  z-index: 2;
}

.faq {
  padding-top: 180px;
}

.faq__title {
  font-size: 40px;
  font-family: 'monsterEB';
  color: rgb(13, 26, 7);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.akcord {
  padding-top: 61px;
}

.accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-border-color: #ffd700;
  --bs-accordion-border-radius: 15px;
  --bs-accordion-btn-color: #222;
  --bs-accordion-btn-bg: transparent;
  --bs-accordion-btn-focus-border-color: #ffd700;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.1rem #ffd90092;
  --bs-accordion-active-color: #222;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFD700'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23222'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item {
  background-color: transparent;
  border: 2px solid #fdde0b;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 15px;
}

.accordion-item:not(:first-of-type) {
  border-top: 2px solid #fdde0b;
}

.rights {
  font-size: 14px;
  font-family: 'monster_reg';
  color: rgb(48, 56, 44);
  line-height: 1.357;
  padding-top: 38px;
}

.footer {
  padding-top: 283px;
  overflow: hidden;
  padding-bottom: 58px;
  position: relative;
}

.footer__logo {
  display: none;
}

.footer__bg {
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: -1;
  left: calc(50% - 794px);
}

.container__foter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__media {
  display: flex;
  gap: 25px;
}

.container__faq {
  position: relative;
}

.papar__iz {
  position: absolute;
  bottom: -25px;
  left: -285px;
  width: 280px;
}

.papar {
  position: absolute;
  bottom: -125px;
  left: -290px;
  width: 269px;
}

.papar__iz_adap,
.papar_adap {
  display: none;
}


.fix {
  background-image: url(../asseets/img/bg_fix.png);
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  padding: 25px;
  position: fixed;
  right: 50px;
  bottom: 275px;
}

.fix:hover svg {
  opacity: .5;
}