* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Cabin";
  src: url(../assets/fonts/Cabin/cabin/cabinregular.ttf);
}

@font-face {
  font-family: "Cabin";
  src: url("../assets/fonts/Cabin/cabin/cabinbold.ttf");
  font-weight: bold;
}

body {
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: normal;
}

a{
    text-decoration: none;
}

.header {
  background-color: #293254;
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header .container {
  font-size: 0;
}

.header .menu {
  display: inline-block;
  vertical-align: middle;
  margin-left: 717px;
}

.header .logo {
  display: inline-block;
  vertical-align: middle;
}

.header .menu ul {
  font-size: 0;
  list-style: none;
}

.header .menu ul li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
}
.header .menu ul li:last-child {
  margin-right: 0;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #5d6585;
}

svg.stroke:hover path {
  stroke: #a5a1a1;
}

svg.filled:hover path {
  fill: #a5a1a1;
}

svg.edit-icon:hover path:nth-child(2) {
  stroke: #a5a1a1;
}

svg.edit-icon:hover path:first-child {
  stroke: #a5a1a1;
}

main {
  background-color: #fbfbfc;
}

.article-container {
  padding: 59px 0 20px 0;
}

.return-back > * {
  vertical-align: middle;
}

.return-back {
  margin-bottom: 25px;
  display: inline-block;
}

.return-back a {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #989ba7;
  text-decoration: none;
}

.article-header h1 {
  font-family: "Cabin";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #0b0f1f;
  margin-bottom: 20px;
}

.article-discription {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #4c4f5f;
  margin-bottom: 40px;
}

.article-section img {
  max-width: 100%;
  margin-bottom: 40px;
}

.article-section p {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #4c4f5f;
}

.article-section h2 {
  margin: 50px 0 20px 0;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #4c4f5f;
}

.footer-article {
  margin-top: 38px;
  font-size: 0;
  margin-left: 925px;
}

.footer-article-img,
.footer-article-info {
  display: inline-block;
  vertical-align: middle;
}

.footer-article-info {
  margin-left: 28px;
}

.footer-article-name {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #4c4f5f;
  margin-bottom: 10px;
}

.footer-article-description {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4c4f5f;
}

.article-additional {
  margin-top: 58px;
  padding: 28px 0;
}

.article-additional-reaction:first-child {
  margin: 0 44px 0 30px;
}

.article-additional-reaction > * {
  vertical-align: middle;
}

.article-additional-reaction span {
  margin-left: 13px;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
}

.article-additional-reaction {
  display: inline-block;
  vertical-align: middle;
}

.article-additional-reactions {
  display: inline-block;
  vertical-align: middle;
}

.article-additional-socials {
  display: inline-block;
  vertical-align: middle;
  margin-left: 840px;
}

.other-articles {
  background-color: #e5e5e5;
  padding: 60px 0;
}

.other-articles h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #4c4f5f;
  margin-bottom: 19px;
}

.other-article-items {
  font-size: 0;
  margin: 0 -20px;
}

.other-article {
  max-width: 580px;
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  padding-right: 25px;
}

.other-article-image {
  display: inline-block;
  vertical-align: middle;
}

.other-article-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 26px;
  max-width: 270px;
}

.other-article-category {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #989ba7;
  margin-bottom: 12px;
}

.other-article h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #0b0f1f;
  margin-bottom: 6px;
}

.other-article-discription {
  font-size: 16px;
  line-height: 24px;
  color: #5b5b5b;
  margin-bottom: 18px;
}

.other-article-extra span {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #989ba7;
  margin-right: 123px;
}

.other-article-extra a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #203b9b;
  text-decoration: none;
}

.footer {
  background-color: #080e24;
  padding: 30px 0 29px 0;
}

.footer .container {
  font-size: 0;
}

.footer .logo {
  display: inline-block;
  vertical-align: middle;
}

.footer span {
  display: inline-block;
  vertical-align: middle;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #b8bacd;
  margin-left: 1044px;
}
