@media screen and (max-width: 1921px) {
  .straw-two {
    left: 1400px;
  }
}

@media screen and (max-width: 1550px) {
  .straw-two {
    left: 1250px;
  }
}
@media screen and (max-width: 1440px) {
  .img-discription-a::before {
    display: none;
  }

  .img-discription-a::after {
    display: none;
  }

  .straw-two {
    left: 1100px;
  }

  .present {
    display: none;
  }
  .present-order {
    display: none;
  }
}

@media screen and (max-width: 1160px) {
  .straw-two {
    left: 900px;
  }
}

@media screen and (max-width: 1260px) {
  .straw {
    left: 60px;
  }
  .straw-two {
    left: 1050px;
  }

  .cards__macarons {
    gap: 80px;
    justify-content: center;
  }

  .cards__advantages {
    justify-content: center;
    gap: 5px;
  }
}

@media screen and (max-width: 1260px) {
  .straw-two {
    left: 950px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1025px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .straw {
    left: 60px;
  }

  .container {
    max-width: 1000px;
  }

  .cards__macarons {
    gap: 80px;
    justify-content: center;
  }

  .img-discription-a::before {
    animation: none;
    border: none;
  }
}

@media screen and (max-width: 1010px) {
  .straw-two {
    display: none;
  }
}

@media screen and (max-width: 901px) {
  .cards__advantages {
    grid-template-columns: repeat(2, 263px);
    justify-content: center;
    gap: 5px;
  }
}

@media screen and (max-width: 850px) {
  .number__header {
    display: none;
  }

  .container__discription {
    padding-top: 30px;
  }

  .active-discription {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 770px) {
  .menu {
    margin-left: 100px;
  }

  .menu ul {
    margin-left: -7px;
    gap: 20px;
  }

  .container {
    max-width: 750px;
  }

  .straw-two {
    left: 1200px;
  }

  .order-present {
    left: 1110px;
  }

  .number__header {
    display: none;
  }

  .discription-block-adab {
    margin-right: auto;
  }

  .container__discription__adab {
    flex-direction: column;
    position: relative;
  }

  .img-discription-one {
    position: static;
    width: 450px;
    margin-bottom: 20px;
  }
  .active-discription {
    padding-bottom: 25px;
  }

  .txt-discription-two-block {
    max-width: 667px;
    padding-bottom: 40px;
  }

  .title-discription-two-block {
    max-width: 474px;
  }

  .container__discription-macarons {
    flex-direction: column;
    text-align: center;
  }

  .discription-block-macarons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards__advantages {
    text-align: center;
  }

  .container__form {
    padding-top: 0;
  }

  .number__advantages {
    margin: 0 auto 14px auto;
  }

  .container__form {
    flex-direction: row-reverse;
    gap: 5px;
    padding-bottom: 0;
  }

  .container__form img {
    margin-top: 400px;
  }

  .present,
  .order-present {
    display: none;
  }

  .straw {
    top: 500px;
    left: 350px;
  }
  .straw-two {
    left: 600px;
    top: 380px;
  }
}

@media screen and (max-width: 695px) {
  .straw {
    top: 360px;
    left: 450px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .cards__advantages {
    grid-template-columns: repeat(1, 220px);
    justify-content: center;
  }

  .cards__macarons {
    grid-template-columns: repeat(1, 263px);
    gap: 80px;
    justify-content: center;
  }
}

@media screen and (max-width: 620px) {
  .straw-two {
    left: 480px;
    top: 380px;
  }

  .straw {
    top: 500px;
    left: 300px;
  }

  .container {
    max-width: 600px;
  }

  menu ul {
    gap: 24px;
  }
}

@media screen and (max-width: 570px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .img__form {
    display: none;
  }

  .straw {
    top: 340px;
    left: 400px;
  }

  .container__form {
    padding-bottom: 60px;
  }

  .container__form {
    padding-top: 40px;
  }
}

@media screen and (max-width: 550px) {
  .container__header {
    justify-content: space-between;
  }

  .menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #000000c9;
    margin: 0 auto;
    z-index: 5;
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
  }

  .menu ul li a {
    color: #c0707c;
    font-size: 24px;
  }

  .container__header {
    display: flex;
    flex-direction: row-reverse;
  }

  .header__burger {
    display: block;
    width: 36px;
    height: 36px;
    fill: #821328;
  }

  .menu__close {
    display: block;
    width: 24px;
    height: 24px;
    fill: #c0707c;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .menu.open {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .img-discription-one {
    width: 250px;
  }

  .straw {
    left: 360px;
  }
}

@media screen and (max-width: 471px) {
  .straw {
    left: 360px;
  }
}

@media screen and (max-width: 460px) {
  .container__footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    position: relative;
    padding-bottom: 0;
  }

  .img__footer {
    order: 1;
  }

  .inst__footer {
    order: 3;
    padding-bottom: 100px;
  }

  .number__footer {
    order: 2;
  }

  .rights {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 79px);
  }

  .straw {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .container__discription__adab {
    padding-top: 0;
  }

  .txt-discription {
    padding-top: 40px;
  }

  .straw-two {
    display: none;
  }

  .straw {
    display: none;
  }

  .discription-block-adab {
    text-align: center;
  }

  .title-adab {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .cards__macarons {
    grid-template-columns: 263px;
  }

  .cards__advantages {
    grid-template-columns: 220px;
  }

  .active-discription {
    padding-top: 40px;
  }

  .img__form {
    display: none;
  }

  .discription__form {
    padding: 0;
  }

  .container__form {
    max-width: 345px;
  }
}

@media screen and (max-width: 375px) {
  .title-discription {
    font-size: 32px;
  }

  .container__form {
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  .macarons-slider-container {
    padding: 87px 50px 0;
  }

  /* .cards__macarons .slick-prev {
    left: -60px;
  }

  .cards__macarons .slick-next {
    right: -60px; 
  }*/
}

@media (max-width: 768px) {
  .macarons-slider-container {
    padding: 87px 40px 0;
  }

  /* .cards__macarons .slick-prev {
    left: -50px;
  }

  .cards__macarons .slick-next {
    right: -50px;
  } */
}

@media (max-width: 480px) {
  .macarons-slider-container {
    padding: 87px 30px 0;
  }

  /* .cards__macarons .slick-prev {
    left: -40px;
  }

  .cards__macarons .slick-next {
    right: -40px;
  } */
}
